

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;}

.navbar {
  width: 100%;
  min-height: 10vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2e5e5;
  position: sticky;
  top: 0;
  z-index: 10;
}

